[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
python-dotenv = "*"
django = "*"
django-ckeditor = "*"
django-allauth = "*"
requests = "*"
pyjwt = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.12"
