{% extends "base.html" %}

{% block content %}

<!-- Nav Bar -->
{% include "navbar.html" %}

<section class="container common-container p-5 my-5" id="brand_list">
    <!-- Brand List -->
    <div>
        <h3 class="fs-2 fw-semibold mb-5 text-center">All Brands</h3>
        <div class="row g-4">
            {% for brand in brands %}
            <div class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center">
                <a href="{% url 'product_list' %}?brand={{ brand.id }}" class="rounded p-4 d-flex flex-column h-100 text-center" style="background-color:  #f5f5f5;">
                    <div class="d-flex justify-content-center align-items-center p-4 card-size">
                        <img src="{{ brand.photo.url }}" alt="Brand image" class="img-fluid card-image">
                    </div>
                    <div class="border-top text-center">
                        <p  class="mb-0 fw-semibold">
                            {{ brand.name|truncatechars:15 }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Pagination -->
{% include "pagination.html" %}

<!-- Footer -->
{% include "footer.html" %}

{% endblock content %}