{% block content %}
<section class="container p-5 my-5" id="categories">
    <a href="{% url "category_list" %}">
        <h3 class="fs-2 fw-semibold mb-5 text-center">Our Categories</h3>
    </a>
    <div class="row g-4">
        {% for category in categories %}
         <div class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center">
            <a href="{% url 'product_list' %}?brand={{ category.id }}" class="rounded p-4 d-flex flex-column h-100 text-center" style="background-color:  #f5f5f5;">
                <div class="d-flex justify-content-center align-items-center p-4 card-size">
                    <img src="{{ category.photo.url }}" alt="category image" class="img-fluid card-image">
                </div>
                <div class="border-top text-center">
                    <p  class="mb-0 fw-semibold">
                        {{ category.name|truncatechars:15 }}</p>
                </div>
            </a>
        </div>

        {% endfor %}
    </div>
</section>
{% endblock content %}
