{% extends "base.jinja" %}

{% block content %}

<!-- Nav Bar -->
{% include "navbar.jinja" %}

<section class="container common-container p-5 my-5 extra-margin-top" id="category_list">
    <!-- Category List -->
    <div>
        <h3 class="fs-2 fw-semibold mb-5 text-center">All Categories</h3>
        <div class="row g-4">
            {% for category in categories %}
            <div class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center">
                <div class="border border-dark rounded p-4 d-flex flex-column h-100 text-center">
                    <div class="d-flex justify-content-center align-items-center p-4 card-size">
                        <img src="{{ category.photo.url }}" alt="Category image" class="img-fluid card-image">
                    </div>
                    <div class="bg-white border-top text-center">
                        <a href="{% url 'product_list' %}?category={{ category.id }}" class="mb-0 fw-semibold">
                            {{ category.name|truncatechars:15 }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Footer -->
{% include "footer.jinja" %}

{% endblock content %}
