{% extends "base.html" %}

{% block content %}

<!-- Nav Bar -->
{% include "navbar.html" %}

<section class="container common-container p-5 my-5 extra-margin-top" id="product_detail">
    <!-- Product Details -->
    <div class="card border-0 shadow-sm p-5">
        <div class="row g-4 align-items-center">
            <div class="col-md-6 text-center">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" 
                    class="img-fluid rounded" 
                    style="width: 100%; height: 700px; object-fit: cover;">
            </div>
            <div class="col-md-6">
                <h2 class="fw-bold text-danger">{{ product.name|title }}</h2>

                <!-- Access writers -->
                <div class="mb-2">
                    {% for writer in product.writers.all %}
                        <a href="{% url 'writer_detail' writer.slug %}" class="text-decoration-none font-monospace text-uppercase fw-medium text-danger">
                            {{ writer.name }}
                        </a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>

                <p class="mb-2"><strong>Description:</strong></p>
                <p class="text-muted lh-base">{{ product.description|linebreaks|urlize }}</p>
                
                <a href="{% url 'product_list' %}?category={{ product.category.id }}">
                    <p class="mb-1"><strong>Category:</strong> <span class="badge bg-danger">{{ product.category.name }}</span></p>
                </a>
                
                <a href="{% url 'product_list' %}?brand={{ product.brand.id }}">
                    <p class="mb-3"><strong>Brands:</strong> <span class="badge bg-secondary">{{ product.brand.name }}</span></p>
                </a>
                
                
                <h3 class="fw-semibold text-danger">৳{{ product.price }}</h3>
            </div>
        </div>
    </div>

</section>

<!-- Footer -->
{% include "footer.html" %}

{% endblock content %}
