{% extends "base.html" %}

{% block content %}

<!-- Nav Bar -->
{% include "navbar.html" %}

<section class="container common-container p-5 my-5 extra-margin-top" id="product_list">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-lg-3 col-md-4 mb-5">
            <div class="border rounded p-4 h-100 " style="max-height: 1100px;">
                <!-- Brands Filter -->
                <h4 class="fs-5 fw-semibold mb-4">Brands</h4>
                <form action="" method="get">
                    
                    <ul class="list-unstyled" style="max-height: 500px; overflow-y: auto;">
                        {% for brand in brands %}
                        <li class="mb-3">
                            <label class="form-check-label">
                                <input type="checkbox" value="{{ brand.id }}" name="brand" class="form-check-input me-2">
                                {{ brand.name }}
                            </label>
                        </li>
                        {% endfor %}
                    </ul>

                    <!-- Categories Filter -->
                    <h4 class="fs-5 fw-semibold mb-4">Categories</h4>
                    <ul class="list-unstyled" style="max-height: 500px; overflow-y: auto;">
                        {% for category in categories %}
                        <li class="mb-3">
                            <label class="form-check-label">
                                <input type="checkbox" value="{{ category.id }}" name="category" class="form-check-input me-2">
                                {{ category.name }}
                            </label>
                        </li>
                        {% endfor %}
                    </ul>

                    <!-- Filter Button -->
                    <button type="submit" class="btn btn-danger mt-3">Filter</button>
                </form>
            </div>
        </div>

        <!-- Product List -->
        <div class="col-lg-9 col-md-8">
            <h3 class="fs-2 fw-semibold mb-5 mt-2 text-center">All Products</h3>
            <div class="row g-4">

                {% for product in products %}
                <div class="col-lg-3 col-md-4 col-sm-12 d-flex justify-content-center">
                    <a href="{% url 'product_details' pk=product.id %}" 
                    class="rounded p-2 d-flex flex-column h-100 text-center card-bg shadow-sm product-card text-decoration-none">
                        
                        <div class="d-flex justify-content-center align-items-center p-4 text-center card-size">
                            <img src="{{ product.image.url }}" alt="Product image" class="img-fluid card-image rounded" 
                                style="">
                        </div>
                        
                        <div class="border-top text-center pt-3">
                            <p class="mb-1 text-sm text-dark">{{ product.name|truncatewords:2|title }}</p>
                            <p class="mb-0 fw-semibold text-danger fs-5">৳{{ product.price }}</p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<!-- Pagination -->
{% include "pagination.html" %}


<!-- Footer -->
{% include "footer.html" %}

{% endblock content %}