{% block content %}
<section class="container p-5 my-5"  id="brands">
    <a href="{% url 'brand_list' %}">
        <h3 class="fs-2 fw-semibold mb-5 text-center">All-Books</h3>
    </a>
    <div class="row g-4">
        {% for product in products %}
        <div class="col-lg-2 col-md-3 col-sm-6 d-flex justify-content-center">
            <a href="{% url 'product_details' pk=product.id %}" 
            class="rounded p-2 d-flex flex-column h-100 text-center card-bg shadow-sm product-card text-decoration-none">
                
                <div class="d-flex justify-content-center align-items-center p-4 text-center card-size">
                    <img src="{{ product.image.url }}" alt="Product image" class="img-fluid card-image rounded" 
                        style="">
                </div>
                
                <div class="border-top text-center pt-3">
                    <p class="mb-1 text-sm text-dark">{{ product.name|truncatewords:2|title }}</p>
                    <p class="mb-0 fw-semibold text-danger fs-5">৳{{ product.price }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</section>

<!-- Pagination -->
{% include "pagination.html" %}

{% endblock content %}