{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

    <!-- Nav Bar -->
    {% include "navbar.html" %}

    <!-- Carousel -->
    {% include "carousel.html" %}

    {% comment %} 
    <!-- Brand -->
    {% include "brands.html" %}

    <!-- Category -->
    {% include "category.html" %} 
    {% endcomment %}

    <!-- Product -->
    {% include "product.html" %}

    <!-- Contact -->
    {% include "contact.html" %}

    <!-- Footer -->
    {% include "footer.html" %}

{% endblock %}