{% extends 'base.jinja' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<!-- Nav Bar -->
{% include "navbar.jinja" %}

<div class="" style="height: 70vh;">
    <!-- Carousel -->
    {% include "carousel.jinja" %}

    <!-- Brand -->
    {% include "brands.jinja" %}

    <!-- Category -->
    {% include "category.jinja" %}
</div>

<!-- Footer -->
{% include "footer.jinja" %}
{% endblock %}