{% extends 'base.jinja' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<!-- Nav Bar -->
{% include "navbar.jinja" %}

<!-- Carousel -->
{% include "carousel.jinja" %}

<!-- Brand -->
{% include "brands.jinja" %}

<!-- Category -->
{% include "category.jinja" %}

<!-- Footer -->
{% include "footer.jinja" %}
{% endblock %}