{% extends "base.html" %}

{% block content %}

<!-- Nav Bar -->
{% include "navbar.html" %}

<section class="container common-container p-5 my-5 extra-margin-top">
    <div class="row g-4">
        {% for product in products %}
        
        <div class="col-lg-3 col-md-4 col-sm-12 d-flex justify-content-center">
            <a href="{% url 'product_details' pk=product.id %}" class="text-decoration-none">
                <div class="border border-dark rounded p-4 d-flex flex-column h-100 text-center">
                    <div class="d-flex justify-content-center align-items-center p-4 card-size">
                        <img src="{{ product.image.url }}" alt="Product image" class="img-fluid card-image">
                    </div>
                    <div class="bg-white border-top text-center">
                        
                            <p class="mb-0 fw-semibold">{{ product.name|truncatewords:2|title }}</p>
                            <p class="mb-0 fw-semibold text-danger fs-5">৳{{ product.price }}</p>
                        
                    </div>
                </div>
            </a>
        </div>
   
        {% endfor %}
    </div>
</section>


<!-- Footer -->
{% include "footer.html" %}

{% endblock content %}